<h1><%= @survey.name %></h1>

<%= form_tag responses_path do %>
  <% @survey.questions.sort_by(&:id).each_with_index do |question, index| %>
    <div id=<%= dom_id(question) %>>
      <%= fields_for "questions[#{question.id}]response",
        question.responses.build do |response_fields| %>

        <strong><%= "#{index + 1}. #{question.text}" %></strong>

        <% if question.allows_multiple_selections? %>
          <%= response_fields.collection_check_boxes(
            :choice_ids, question.choices.sort_by(&:id), :id, :text) do |b| %>
              <p>
                <%= b.label do %>
                  <%= b.check_box + b.text%>
                <% end %>
              </p>
          <% end %>
        <% else %>
          <%= response_fields.collection_radio_buttons(
            :choice_ids, question.choices.sort_by(&:id), :id, :text) do |b| %>
              <p>
                <%= b.label do %>
                  <%= b.radio_button + b.text%>
                <% end %>
              </p>
          <% end %>
        <% end %>

      <% end %>
    </div>
  <% end %>

  <%= submit_tag 'Complete Survey' %>
<% end %>
