<h1><%= @survey.name %></h1>

<%= form_tag response_path do %>
  <% @survey.questions.each do |question| %>
    <div id=<%= dom_id(question) %>>
      <%= fields_for "questions[#{question.id}]response",
        question.responses.build do |response_fields| %>
        <%= question.text %>
        <% if question.allows_multiple_selections? %>
         <%= response_fields.collection_check_boxes(
           :choice_ids, question.choices, :id, :text) %>
        <% else %>
         <%= response_fields.collection_radio_buttons(
           :choice_ids, question.choices, :id, :text) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= submit_tag 'Complete Survey' %>
<% end %>
