<h1><%= @payment.calendar_year %> Questionaire</h1>

<% if @error %>
  <p><%= @error %> Please try again.</p>
<% end %>

<p>
  This year's dues are <%= number_to_currency(@payment.dues_dollars) %>, and you've chosen to contribute <%= number_to_currency(@payment.fund_contribution_dollars) %> to our funds. This makes your total amount due <%= number_to_currency(@payment.amount_dollars) %>.
</p>

<%= form_with(
      url: questionaire_payment_path(@payment.questionaire),
      data: { card_container: "#card-element", result_container: "#result", form_input: "[name='payment_method_id']" }
) do |form| %>
  <div id="card-element"></div>
  <p id="result"></p>

  <%= form.hidden_field :payment_method_id %>
  <%= form.submit "Pay" %>
<% end %>
