<h1>Add Potential Meeting Dates</h1>

<table>
  <% potential_meeting_times.each do |potential_meeting_time| %>
    <tr>
      <td><%= potential_meeting_time.strftime("%B %-d") %></td>
      <td><%= potential_meeting_time.strftime("%-l:00 %p %Z") %></td>
      <td>
        <%= link_to "Edit",
          edit_year_potential_meeting_time_path(potential_meeting_time.to_i) %>
      </td>
    </tr>
  <% end %>
</table>

<%= form_with model: new_potential_meeting_time, url: year_potential_meeting_times_path do |form| %>
  <table>
    <tr>
      <td>
        <%= select_month new_potential_meeting_time,
          prefix: :potential_meeting_time,
          field_name: :month
        %>
      </td>
      <td>
        <%= select_day new_potential_meeting_time,
          prefix: :potential_meeting_time,
          field_name: :day
        %>
      </td>
      <td>
        <%= select_hour new_potential_meeting_time,
          ampm: true,
          prefix: :potential_meeting_time,
          field_name: :hour
        %>
      </td>
      <td>
        <%= form.time_zone_select :time_zone,
          ActiveSupport::TimeZone.us_zones
        %>
      </td>
      <td><%= form.submit "Add Potential Meeting Time" %></td>
    </tr>
  </table>
<% end %>

<%= link_to "Next", year_path, method: :put, remote: true %>
